doctype html
head
  title World Information (light) - шаблон сайта HTML5
  meta(charset='utf-8')
  //if IE
  meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
  // Google Fonts
  link(href='https://fonts.googleapis.com/css?family=Arimo&subset=latin,cyrillic', rel='stylesheet', type='text/css')
  link(href='https://fonts.googleapis.com/css?family=Noto+Serif&subset=latin,cyrillic', rel='stylesheet', type='text/css')
  link(rel='stylesheet', type='text/css', href='stylesheets/bootstrap.min.css', media='screen')
  link(rel='stylesheet', type='text/css', href='stylesheets/stroke-gap-icons.css', media='screen')
  link(rel='stylesheet', type='text/css', href='stylesheets/pe-icon-7-stroke.css', media='screen')
  link(rel='stylesheet', type='text/css', href='stylesheets/elegant-icons.css', media='screen')
  link(rel='stylesheet', type='text/css', href='stylesheets/font-awesome.css', media='screen')
  link(rel='stylesheet', type='text/css', href='stylesheets/style.css', media='screen')
  link(rel='stylesheet', type='text/css', href='stylesheets/responsive.css', media='screen')
  link(rel='stylesheet', type='text/css', href='stylesheets/animate.css', media='screen')
  link(rel='stylesheet', type='text/css', href='stylesheets/slider.css')

  <!-- jQuery Scripts -->
  script(src='javascript/jquery.min.js')
  script(src='javascript/snap.svg-min.js')
  script(src='javascript/main.js')
  // Resource jQuery
  script(type='text/javascript', src='javascript/bootstrap.min.js')
  script(type='text/javascript', src='javascript/jquery.countTo.js')
  script(type='text/javascript', src='javascript/jquery.appear.js')
  script(type='text/javascript', src='javascript/plugins-scroll.js')
  script(type='text/javascript', src='javascript/isotope.pkgd.min.js')
  script(type='text/javascript', src='javascript/jquery.easing.min.js')
  script(type='text/javascript', src='javascript/imagesloaded.pkgd.min.js')
  script(src='javascript/wow.min.js')
  // Custom Theme JavaScript
  script(src='javascript/scripts.js')
body
  block content
